<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-connectnotify></app-connectnotify>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="bare-grise">
    <p style="color: white; margin: 10px 0px 0px 50px;">Détail compétence</p>
  </ion-row>
  <ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-title style="font-size: 15px;  font-weight: bold;">{{comp?.nomCom}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-col size="12">
        <ion-card-content>
         {{comp?.description}}
        </ion-card-content>
    </ion-col>
  </ion-row>
  <ion-fab vertical="center" horizontal="end" slot="fixed" class="pencil">
    <ion-fab-button  (click)="updateDemande(comp?.id)">
      <ion-icon name="brush"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="center" horizontal="end" slot="fixed" class="delete">
    <ion-fab-button color="danger"  (click)="deleteDemande(comp?.id)">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
