.popup-width{
    width: 100%;
}
.chiffre{
    text-align: center; 
    background-color: #f5bb20; 
    border-radius: 30px;
}
.close{
    font-size: 35px;
    color: red;
}
ion-col{color: black;}
img{
    height: 30px;
}