<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <app-connect></app-connect>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="bare-grise">
    <p style="color: white; margin: 10px 0px 0px 50px;">Spécialité {{specialite}}</p>
  </ion-row>
  <ion-searchbar animated
  [showCancelButton]="shouldShowCancel"
  (ionChange)="filterList($event)">
</ion-searchbar>
<div *ngIf="travailleurs !== null; else noItems">
  <ion-list>
    <ion-item *ngFor="let tr of travailleurs" [routerLink]="['/travailleur', tr.id]">
      <ion-avatar slot="start">
        <ion-img src="{{image}} + {{tr.id}}"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{tr?.nom}} {{tr?.prenom}}</h2>
        <h3>{{tr?.specialite.nomspe}}</h3>
        <p>{{tr.ville?.nomville}}, {{tr.quartier}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
<ng-template #noItems>
  <ion-item>Aucun resultat trouvé</ion-item>
</ng-template>

  
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button  [routerLink]="['/accueilclient']">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
