<ion-content class="arrierePlan" >
  
  <ion-row style="background-color: #f5bb20;">
    <ion-col size="10">
      <ion-row>
        <h4>Modifier mes infos</h4>
      </ion-row>
    </ion-col>
    <ion-col size="2"> <a (click)="close()"><ion-icon name="close" class="close"></ion-icon></a></ion-col>
  </ion-row>
  <form #form="ngForm"  (ngSubmit)="updateInfos()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="black"><b>Nom</b></ion-label>
        <ion-input [(ngModel)]="us.nom" name="nom" type="text" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="black"><b>Prénom</b></ion-label>
        <ion-input [(ngModel)]="us.prenom" name="prenom" type="text" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="black"><b>Genre</b></ion-label>
        <ion-select required [(ngModel)]="us.genre" name="genre"  placeholder="Selectionner.." >
          <ion-select-option value="Homme">Homme</ion-select-option>
          <ion-select-option value="Femme">Femme</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="black"><b>Téléphone</b></ion-label>
        <ion-input [(ngModel)]="us.numWhasapp" name="telephone" type="number" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="form.invalid" type="submit" expand="block">Modifier</ion-button>
      </ion-col>
    </ion-row>
   
  </form>
</ion-content>

