<app-header></app-header>
<app-menu></app-menu>
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">GESTION CORBEILLE</h4>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row justify-content-center" style="margin: 0 auto;">
        <!-- Mettre ici le contenu de la page -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-5 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="corbeil"><b style="font-size: 18px;">Services</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="corbeil-specialite"><b style="font-size: 18px;">Spécialités</b></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="corbeil-ville"><b style="font-size: 18px;">Villes</b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="corbeil-utilisateur"><b style="font-size: 18px; color: #f5bb20;">Utilisateurs</b></a>
                  </li>
              </ul>
            </div>
        </nav>
        <div class="white-box">
            <div class="d-md-flex mb-3">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ms-auto">
                    <i class="fa fa-users" style="font-weight: bold; font-size: 50px; margin: 0 auto;" aria-hidden="true"></i>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ms-auto">
                    <label>Trier par : </label>
                    <select class="form-select shadow-none row border-top" (change)="users($event)">
                        <option>Clients</option>
                        <option>Travailleurs</option>
                        <option>Administrateurs</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="white-box">
            <div class="d-md-flex mb-3">
                <div class="row col-md-12 col-lg-12 col-sm-12">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <h3 class="box-title mb-0">Liste des utilisateurs</h3>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <form role="search" >
                            <a href="" class="active2">
                                <i class="fa fa-search" style="color: #f5bb20;"></i>
                            </a>
                            <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Rechercher..." class="form-control mt-0">
                        </form>
                    </div>
                </div>
            </div>
            <div class="table-responsive">

                <!-- Affichage Par défaut -->
                <table class="table no-wrap" *ngIf="adminEtat === false && clientEtat === false  && travailleurEtat === false">
                    <thead>
                        <tr>
                            <th class="border-top-0"><b>#</b></th>
                            <th class="border-top-0"><b>Nom</b></th>
                            <th class="border-top-0"><b>Prénom</b></th>
                            <th class="border-top-0"><b>Action</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor= 'let liste of customers | filter:searchText'>
                            <td class="txt-oflo">{{liste?.id}}</td>
                            <td class="txt-oflo">{{liste?.nom}}</td>
                            <td class="txt-oflo">{{liste?.prenom}}</td>
                            <td>
                                <span class="text-success alignement">
                                    <a (click)="alertConfirmationClient(liste.id)"><i style="color: #f5bb20;" class="far fa-window-restore" aria-hidden="true"></i></a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Affichage Administrateurs -->
                <table class="table no-wrap" *ngIf="adminEtat === true">
                    <thead>
                        <tr>
                            <th class="border-top-0"><b>#</b></th>
                            <th class="border-top-0"><b>Nom</b></th>
                            <th class="border-top-0"><b>Prénom</b></th>
                            <th class="border-top-0"><b>Type</b></th>
                            <th class="border-top-0"><b>Action</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor= 'let liste of utilisateurs | filter:searchText'>
                            <td class="txt-oflo">{{liste?.id}}</td>
                            <td class="txt-oflo">{{liste?.nom}}</td>
                            <td class="txt-oflo">{{liste?.prenom}}</td>
                            <td class="txt-oflo">{{liste?.profile}}</td>
                            <td>
                                <span class="text-success alignement">
                                    <a (click)="alertConfirmationAdmin(liste.id)"><i style="color: #f5bb20;" class="far fa-window-restore" aria-hidden="true"></i></a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Affichage client -->
                <table class="table no-wrap" *ngIf="clientEtat === true">
                    <thead>
                        <tr>
                            <th class="border-top-0"><b>#</b></th>
                            <th class="border-top-0"><b>Nom</b></th>
                            <th class="border-top-0"><b>Prénom</b></th>
                            <th class="border-top-0"><b>Action</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor= 'let liste of utilisateurs | filter:searchText'>
                            <td class="txt-oflo">{{liste?.id}}</td>
                            <td class="txt-oflo">{{liste?.nom}}</td>
                            <td class="txt-oflo">{{liste?.prenom}}</td>
                            <td>
                                <span class="text-success alignement">
                                    <a (click)="alertConfirmationClient(liste.id)"><i style="color: #f5bb20;" class="far fa-window-restore" aria-hidden="true"></i></a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                 <!-- Affichage travailleurs -->
                 <table class="table no-wrap" *ngIf="travailleurEtat === true">
                    <thead>
                        <tr>
                            <th class="border-top-0"><b>Photo</b></th>
                            <th class="border-top-0"><b>Nom</b></th>
                            <th class="border-top-0"><b>Prénom</b></th>
                            <th class="border-top-0"><b>Spécialité</b></th>
                            <th class="border-top-0"><b>Action</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor= 'let liste of utilisateurs | filter:searchText'>
                            <td class="txt-oflo"><img src="{{photo}} + {{liste?.id}}" style="height: 25px; border-radius: 50px;"></td>
                            <td class="txt-oflo">{{liste?.nom}}</td>
                            <td class="txt-oflo">{{liste?.prenom}}</td>
                            <td class="txt-oflo">{{liste?.specialite?.nomspe}}</td>
                            <td>
                                <span class="text-success alignement">
                                    <a (click)="alertConfirmationTravailleur(liste.id)"><i style="color: #f5bb20;" class="far fa-window-restore" aria-hidden="true"></i></a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>