<app-header></app-header>
<app-menu></app-menu>

<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="row col-lg-6 col-md-4 col-sm-4 col-xs-12">
                <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                    <a href="utilisateurs">
                     <i class="fas fa-chevron-left" style="font-weight: bold; font-size: 25px; color: #684f0e;" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12" style="float: left;">
                    <h4 class="page-title">MODIFICATION ADMINISTRATEUR</h4>
                </div>
            </div>
            <div class="col-lg-6 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex"> 
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row justify-content-center" style="margin: 0 auto;">

        <div class="col-lg-1 col-lg-md-1 col-xlg-1 col-md-12"></div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-10 col-lg-md-10 col-xlg-10 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form  #UpdateForm="ngForm" (ngSubmit)="updateAdmin()" autocomplete="off" class="form-horizontal form-material row">
                            <div class="col-lg-6 col-xlg-6 col-md-12">
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Nom *</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="text" placeholder="Saisissez le nom"
                                                    class="form-control p-0 border-0" name="nom"  [(ngModel)]="admins.nom" required>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Prénom *</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="text" placeholder="Saisissez le prénom"
                                                    class="form-control p-0 border-0" name="prenom"  [(ngModel)]="admins.prenom" required>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Genre *</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <select  class="form-control p-0 border-0" name="genre" id="singleSelect"  [(ngModel)]="admins.genre" required>
                                            <option value="">---Sélectionner un genre---</option> 
                                            <option  value="Homme">Homme</option>
                                            <option  value="Femme">Femme</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xlg-6 col-md-12">
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Email *</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="text" placeholder="Saisissez l'email"
                                                    class="form-control p-0 border-0" name="email"  [(ngModel)]="admins.email" required>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Nom d'utilsateur *</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="text" placeholder="Saisissez le nom d'utilisateur"
                                                    class="form-control p-0 border-0" name="login"  [(ngModel)]="admins.login" required>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0">Profil *</label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <select  class="form-control p-0 border-0" name="profil" id="singleSelect"  [(ngModel)]="admins.profil" required>
                                            <option value="">---Sélectionner un profil---</option> 
                                            <option  value="1">Administrateur</option>
                                            <option  value="0">Super Administrateur</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="form-group mb-4">
                                <div class="col-sm-12 align-button">
                                    <button class="btn btn-orange" type="submit" [disabled]="UpdateForm.invalid">Modifier</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-lg-md-1 col-xlg-1 col-md-12"></div>
    </div>
</div>
</div>

