
<ion-content [fullscreen]="true">
  <ion-img src="../../assets/images/headmob.png" alt="img-entete" class="img-entete"></ion-img>
  
  <p class="ion-text-center" style="font-weight: bolder; font-size: 20px; color: #684f0e;">Bienvenue sur :</p>
  <div class="container ion-text-center">
    <img src="../../assets/images/logo.png" alt="logo">
  </div><br><br><br>
  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col size="6">
      <a [routerLink]="['/login']" style="color: #684f0e; font-size: 20px;"><b>Continuer  <ion-icon name="arrow-forward" style="font-size: 18px; margin-bottom: -4px;"></ion-icon></b></a>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>
</ion-content>
