.sous-header{
    padding-top: 20px;
}

.btn-orange{
    background-color: #684f0e;;
    color: white;
}
.card{
    margin: 50px auto;
    box-shadow: 1px 1px 1px #684f0e;;
}

.alignement a{
    margin: 5px;
}

button{
    width: 100%;
    margin: 0 auto;
}
.align-button{
    margin: 0 auto;
    width: 50%;
}