
                <div class="card">
                    <div class="card-body">
                        <form #AjoutForm="ngForm" (ngSubmit)="AjoutSpecialite(AjoutForm)" autocomplete="off" class="form-horizontal form-material">
                            
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">Nom spécialité *</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="textarea" placeholder="Saisissez la spécialité"
                                                class="form-control p-0 border-0" name="nom" ngModel #nom="ngModel" required minlength="5" maxlength="50">
                                    <div [hidden]="nom.valid || nom.pristine" class="alert alert-danger">
                                        Le nom est obligatoire
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">Description Spécialité *</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="textarea" placeholder="Saisissez une description"
                                                class="form-control p-0 border-0" name="description" ngModel #description="ngModel" required>
                                    <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                                        La description est obligatoire
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group mb-4">
                                <div class="col-sm-12 align-button">
                                    <button class="btn btn-orange" type="submit" [disabled]="AjoutForm.form.invalid">Ajouter</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            