<ion-content [fullscreen]="true">
  <ion-img src="../../../assets/images/entete1.png" alt="img-entete" class="img-entete"></ion-img>
  <ion-img src="../../../assets/images/logo.png" alt="img-logo" class="img-logo"></ion-img>

    <h4 style="text-align: center; font-size: 25px; color: #684f0e;"><b>Inscription</b></h4>
  <form #form="ngForm" novalidate>
    <ion-card>
      <ion-list>
        <ion-item class="box1">
          <ion-input required name="nom" type="text" #nom="ngModel" [(ngModel)]="client.nom" placeholder="Votre nom"></ion-input>
          <ion-icon name="person"></ion-icon>
        </ion-item>
        <ion-text color="danger" *ngIf="nom.invalid && nom.touched" style="margin-left: 20px;">
          Le nom est obligatoire
        </ion-text>

        <ion-item>
          <ion-input required name="prenom" type="text" #prenom="ngModel" [(ngModel)]="client.prenom" placeholder="Votre prénom"></ion-input>
          <ion-icon name="person"></ion-icon>
        </ion-item>
        <ion-text color="danger" *ngIf="prenom.invalid && prenom.touched" style="margin-left: 20px;">
          Le prénom est obligatoire
        </ion-text>

        <ion-item>
          <ion-select required name="genre" #genre="ngModel" placeholder="Genre" [(ngModel)]="client.genre" style="width: 100px;">
            <ion-select-option value="Homme">Homme</ion-select-option>
            <ion-select-option value="Femme">Femme</ion-select-option>
          </ion-select>
          <ion-icon name="body" style="margin-left: 120px;"></ion-icon>
        </ion-item>
        <ion-text color="danger" *ngIf="genre.invalid && genre.touched" style="margin-left: 20px;">
          Le genre est obligatoire
        </ion-text>

        <ion-item>
          <ion-input required name="telephone" type="number" #telephone="ngModel" [(ngModel)]="client.telephone" placeholder="Votre numéro" pattern=".{8,8}"></ion-input>
          <ion-icon name="call"></ion-icon>
        </ion-item>
        <ion-text color="danger" *ngIf="telephone.invalid && telephone.touched" style="margin-left: 20px;">
          Le numéro de téléphone est obligatoire et doit être de 8 chiffres
        </ion-text>

        <ion-item>
          <ion-input required name="username" type="text" #username="ngModel" [(ngModel)]="client.username"  placeholder="Nom d'utilisateur"></ion-input>
          <ion-icon name="person"></ion-icon>
        </ion-item>
        <ion-text color="danger" *ngIf="username.invalid && username.touched" style="margin-left: 20px;">
          Le nom d'utilisateur est obligatoire
        </ion-text>

        <ion-item>
          <ion-input required name="password" type="password" #password="ngModel" [(ngModel)]="client.password" placeholder="Mot de passe"></ion-input>
          <ion-icon name="key"></ion-icon>
        </ion-item>
        <ion-text color="danger" *ngIf="password.invalid && password.touched" style="margin-left: 20px;">
          Champ obligatoire
        </ion-text>

        <ion-item>
          <ion-input required name="repeatpassword" type="password" #repeatpassword="ngModel" [(ngModel)]="client.repeatpassword" placeholder="Confirmer le mot de passe"></ion-input>
          <ion-icon name="key"></ion-icon>
        </ion-item>
        <ion-text color="danger" *ngIf="repeatpassword.invalid && repeatpassword.touched" style="margin-left: 20px;">
          Champ obligatoire
        </ion-text>

      </ion-list>
    </ion-card>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" (click)="login()"  class="btn-inscription">Annuler</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button type="submit" [disabled]="form.invalid"  (click)="inscription(form)" color="warning" expand="block">S'inscrire</ion-button>
      </ion-col>
    </ion-row> 
  </form>
</ion-content>
