<ion-content class="arrierePlan" >
  
  <ion-row style="background-color: #f5bb20;">
    <ion-col size="10">
      <ion-row>
        <h4>Modification</h4>
      </ion-row>
    </ion-col>
    <ion-col size="2"> <a (click)="close()"><ion-icon name="close" class="close"></ion-icon></a></ion-col>
  </ion-row>
  <form #form="ngForm"  (ngSubmit)="updateCompet()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="black"><b>Nom Compétence</b></ion-label>
        <ion-input [(ngModel)]="cp.nomCom" name="nom" type="text" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="black"><b>Nom Compétence</b></ion-label>
        <ion-textarea [(ngModel)]="cp.description" name="description" type="text" required>
        </ion-textarea>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="form.invalid" type="submit" expand="block">Modifier</ion-button>
      </ion-col>
    </ion-row>
   
  </form>
</ion-content>

